# Environments
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac/OSX garbage (just in case)
.DS_Store

# IDE and Editor files
.vscode/
.idea/
*.swp

# Output images from your scripts
*.png
*.jpg